
body{
    background: #f1f1f1;
    background: linear-gradient(to right, #000000,#fafafa)
}
.bg{
    
    background-image:url(./img/Cocina.jpg);
    background-position: center center;
    filter: brightness(-1.5);
}

.Escritura{
    text-shadow: #811818;
    
}